{% extends 'base.html.twig' %}

{% block body %}
    <h1>Administration</h1>

    <a class="btn btn-primary" href="{{ path('admin.product.create') }}">Ajouter un produit</a>
    {% if products is empty %}
        <h1>Pas de produit enregistrer</h1>
    {% else %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">#{{ product.id }}</th>
                <td>{{ product.name }}</td>
                <td class="table__action">
                    <a href="{{ path('admin.product.edit', {'id': product.id}) }}">{{ icon('edit') }}</a>
                    <form method="post" action="{{ path('admin.product.delete', {id: product.id}) }}"
                          style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                        <label>
                            <input type="submit" name="image" style="display: none"> {{ icon('delete') }}
                        </label>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
{% endblock %}